<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Why Telegram?</title>
    <link href="/styles/telegram.css" rel="stylesheet">
</head>
<body>
    <div class="section-top">
        <!-- header -->
        <header>
            <a th:href="@{/telegram}" class="page-title">Why to use Telegram?</a>
            <div class="navigation">
                <div class="navigation-items">
                    <a th:href="@{/}">Home</a>
                    <a th:href="@{/} + '#footer'">Contacts</a>
                </div>
            </div>
        </header>

        <!-- text -->
        <section class="home">
            <div class="photo-slide"></div>
            
            <div class="content">
                <h1><span class="telegram-text">Why Telegram?</span><br><span class="bot-name-text">Movie Rover</span></h1>
                <p>As Telegram is a popular messaging app, it is a great platform for the bot. It is easy to use and has a lot of features that make the bot more interactive and user-friendly. Moreover, Telegram has a lot of users, so the bot can reach a wide audience.</p>
                <a href="https://t.me/MovieRoverBot" target="_black">Try out</a>
            </div>
        </section>
    </div>

    <script src="/scripts/telegram.js"></script>
</body>
</html>